.button-view-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.button-view {
  border: none;
  background-color: rgb(227, 38, 0);
  width: 34%;
  font-size: 19px;
  letter-spacing: 0.5px;
  border-radius: 12px;
  font-family: var(--police-general);
  padding: 10px 0;
}

.img-about-home {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 55px;
  margin-bottom: 15px;
}

.img-home {
  width: 80%;
}
