.project-card-container {
  display: flex;
  justify-content: center;
  background-color: var(--main-background-color);
  width: 70%;
  height: 220px;
  border-radius: 30px;
  margin: 60px;
}

.title-project-card {
  align-items: center;
  font-weight: bold;
}
