body {
  font-family: var(--police-general);
}
.about-home-container {
  width: 100%;
  justify-content: center;
  padding: 15vh 0 5vh 0;
  background-color: var(--main-background-color);
}

.img-about-home {
  width: 100%;
}

.title-about-home {
  margin-left: 40px;
  font-size: 37px;
}

.text-about-home {
  margin: 20px 60px;
  font-size: 18px;
}
