.selected-work-container {
  background-color: var(--second-background-color);
}

.title-about-home {
  display: flex;
  font-size: 30px;
  justify-content: center;
}
.img-selected-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img-project {
  width: 50%;
}
