.selected-work-container {
  background-color: var(--second-background-color);
  margin-top: -40px;
  padding-bottom: 7vh;
}

.title-about-project {
  width: 100%;
  justify-content: center;
  font-size: 37px;
  display: flex;
  padding-top: 35px;
  font-weight: normal;
}

.img-selected-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img-selected-project {
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.img-project {
  width: 80%;
}

.title-selected-project {
  width: 100%;
  justify-content: center;
  font-size: 27px;
}
.description-selected-project {
  font-size: 18px;
  padding: 22px 72px;
  text-align: justify;
  margin-bottom: -30px;
}

.hard-skills-selected-work {
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

h3 {
  display: flex;
}

@media screen and (min-width: 768px) {
  .selected-work-container {
    height: 650px;
  }
  .title-about-project {
    padding-top: 90px;
  }
  .div-responsive-selected-work {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
  }
  .button-project-responsive {
    margin-left: 200px;
    width: 140px;
  }
  .button-project-responsive:hover {
    color: white;
    cursor: pointer;
  }
  .title-selected-project {
    width: 85%;
    padding-top: 50px;
  }
  .description-selected-project {
    padding-right: 140px;
  }
}
