.learn-about-me-container {
  margin-top: 140px;
  background-color: var(--second-background-color);
  height: 100%;
  padding-bottom: 30px;
}
.name-header-container {
  width: 100%;
  justify-content: center;
  background-color: rgb(247, 200, 200);
  height: 42vh;
  margin-top: -50px;
}

.name-header {
  display: flex;
  justify-content: center;
  padding-top: 55px;
  padding-left: 80px;
  font-family: var(--police-general);
  font-size: 42px;
  width: 80%;
}

.img-profile-page {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 135, 135);
  height: 42vh;
}

.img-pdp {
  width: 70%;
  height: 70%;
}

@media screen and (min-width: 768px) {
  .div-responsive-about-me {
    display: flex;
    margin-top: 150px;
  }
  .name-header-container {
    height: 80vh;
  }
  .name-header {
    font-size: 80px;
  }
  .name-text {
    display: flex;
    height: 40vh;
    padding-top: 140px;
  }
  .img-profile-page {
    height: 80vh;
    margin-top: -50px;
  }
  .img-pdp {
    width: 60%;
  }
  .three-cards {
    width: 60%;
  }
  .width-pages-des-cards {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .width-pages-des-cards .the-other-side-card {
    margin-left: 350px;
    height: 50vh;
  }
  .width-pages-des-cards .formation-card {
    height: 50vh;
  }
  .width-pages-des-cards .outils-card {
    height: 50vh;
  }
}
