:root {
  --police-general: "Inika", sans-serif;
  --police-paragraphe: "Playfair", sans-serif;
  --main-background-color: rgb(253, 164, 21);
  --second-background-color: rgb(217, 220, 223);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-weight: lighter;
}
