body {
  font-family: var(--police-general);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--second-background-color);
  width: 100%;
  top: 0;
  left: 0;
}

.logo-img {
  width: 6vh;
  height: auto;
  margin-left: 45px;
}

.titles {
  display: flex;
  width: 70%;
  font-weight: lighter;
  margin-top: 25px;
  justify-content: space-evenly;
  padding-bottom: 3.8vh;
  font-size: 1vh;
}

@media screen and (min-width: 768px) {
  .logo-img {
    width: 7.5vh;
    height: auto;
    margin-left: 75px;
  }
  .logo-img:hover {
    cursor: pointer;
  }

  .titles {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    font-weight: lighter;
    margin-top: 25px;
    justify-content: space-evenly;
    padding-bottom: 3.8vh;
    font-size: 1.4vh;
  }
  .titles:hover {
    cursor: pointer;
  }
}
